@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@500;700;900&family=Big+Shoulders+Display:wght@300;800;900&family=Epilogue:wght@400;700&family=Hanken+Grotesk:wght@500;700;800&family=Plus+Jakarta+Sans:wght@500;700;800&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@500;700;900&family=Big+Shoulders+Display:wght@300;800;900&family=Epilogue:wght@400;700&family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@300&family=Plus+Jakarta+Sans:wght@500;700;800&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Big Shoulders Display" "Outfit";
}
body{
    display: flex;
    justify-content: center;
    width: 100vW;
    height: 100vh;
    background-size: 100%;
}
.background{
    background: #FCFAF9;
    overflow-x: hidden;
    padding-left: 16px;
    padding-right: 16px;
}
.img-1{
    width: 110%;
    margin-bottom: 32px;
    margin-left: -16px;
}
.img-2{
    width: 100%;
    margin-bottom: 32px;
}
.p-1{
    color: var(--Dark-Grey, #444);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 32px;
}
.box-3{
    display: flex;
    width: 100%;
    margin-bottom: 120px;
}
.button-1{
    width: 270px;
    color: var(--White, #FFF);
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.636px;
    background: var(--Almost-Black, #151515);
    padding: 24px 35px 24px 32px;
    border: none;
    cursor: pointer;
}
.box-3:hover .button-1{
    background-color: #D5966C;
}
.box-3:hover .arrow-right{
    background-color: #151515;
}
.arrow-right{
    background-color: #D5966C;
    padding: 24px;
    cursor: pointer;
}
.a-href{
    display: flex;
    text-decoration: none;
}
.img-3{
    width: 100%;
    margin-bottom: 25px;
}
.h1-2{
    color: var(--Almost-Black, #151515);
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.p-2{
    color: var(--Dark-Grey, #444);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 32px;
}
.img-4{
    width: 100%;
    margin-bottom: 16px;
}
.img-5{
    width: 100%;
    margin-bottom: 16px;
}
.box-5{
    width: 100%;
    margin-bottom: 120px;
    padding: 48px 24px 47px 24px;
    background: var(--Almost-Black, #151515);
}
.h1-3{
    color: var(--White, #FFF);
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.p-3{
    color: var(--White, #FFF);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.box-6{
    width: 110%;
    padding: 48px 32px 44px 32px;
    background: var(--Almost-Black, #151515);
    margin-left: -16px;
}
.img-6{
    width: 45%;
    margin-bottom: 38px;
}
.p-4{
    color: var(--White, #FFF);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 38px;
}
.box-7{
    font-size: 20px;
    display: flex;
}
.img-7{
    margin-right: 15px;
    cursor: pointer;
    color: white;
}
.img-8{
    margin-right: 15px;
    cursor: pointer;
    color: white;
}
.img-9{
    cursor: pointer;
    color: white;
}
.img-7:hover{
    color: #D5966C;
    border-radius: 1px;
}
.img-8:hover{
    color: #D5966C;
    border-radius: 3px;
}
.img-9:hover{
    color: #D5966C;
    border-radius: 1px;
}
.img-1-2{
    display: none;
}
.img-5-2{
    display: none;
}
.img-4-2{
    display: none;
}
.img-1-3{
    display: none;
}
.img-2-2{
    display: none;
}
.img-3-2{
    display: none;
}
@media(min-width: 768px){
    .background{
        padding-left: 40px;
        padding-right: 40px;
    }
    .img-1{
       display: none;
    }
    .box-1{
        position: relative;
    }
    .img-1-2{
        display: block;
        position: absolute;
        margin-left: -40px;
    }
    .box-2{
        margin-left: 300px;
        margin-top: 145px;
        margin-bottom: 265px;
        position: relative;
    }
    .box-4-5{
        max-width: 690px;
        position: relative;
    }
    .img-3{
        width: 50%;
        position: absolute;
        right: 0px;
    }
    .p-h1{
        max-width: 290px;
        margin-top: 36px;
        position: absolute;
        left: 0px;
    }
    .img-4{
        width: 60%;
        position: absolute;
        left: 0px;
        top: 350px;
    }
    .img-5{
        width: 55%;
        position: absolute;
        right: 0px;
        top: 50px;
    }
    .box-5{
        width: 40%;
        position: absolute;
        right: 0px;
        top: 660px;
        padding-bottom: 128px;
    }
    .box-6{
        width: 115%;
        margin-top: 1450px;
        margin-left: -40px;
        padding: 56px 39px 56px 40px;
        display: flex;
        align-items: flex-start;
    }
    .img-5{
        display: none;
    }
    .img-5-2{
        width: 40%;
        display: block;
        position: absolute;
        top: 340px;
        right: 0px;
    }
    .img-4{
        display: none;
    }
    .img-4-2{
        width: 58%;
        display: block;
        position: absolute;
        top: 340px;
    }
    .img-6{
        margin-right: 46px;
    }
    .box-7{
        margin-left: 133px;
        margin-right: 40px;
        height: 20px;
    }
    .p-4{
        max-width: 281px;
    }
    .img-1-3{
        display: none;
    }
    .img-2-2{
        display: none;
    }
    .img-3-2{
        display: none;
    }
}
@media(min-width: 1440px){
    .background{
        padding-left: 165px;
        padding-right: 164px;
        width: 100%;
    }
    .img-1-2{
        display: none;
    }
    .box-1{
        position: relative;
    }
    .black-img{
        width: 45%;
        height: 799px;
        position: absolute;
        background-color: black;
        margin-left: -165px;
    }
    .img-1-3{
        display: block;
        position: absolute;
        margin-left: 330px;
    }
    .box-2{
        margin-left: 925px;
        margin-bottom: 494px;
    }
    .img-2{
        position: absolute;
        left: -970px;
        width: 600px;
        height: 200px;
    }
    .img-2-2{
        display: block;
        position: absolute;
        left: -940px;
        width: 340px;
        height: 200px;
    }
    .p-1{
        margin-left: -110px;
        max-width: 350px;
        font-size: 22px;
        line-height: 32px;
    }
    .box-3{
        margin-left: -110px;
    }
    .h1-5{
        font-size: 60px;
        line-height: 60px;
    }
    .p-2{
        font-size: 22px;
        line-height: 32px;
    }
    .img-3{
        display: none;
    }
    .img-3-2{
        display: block;
        position: absolute;
        right: 0px;
        width: 635px;
    }
    .p-h1{
        margin-right: 125px;
    }
    .box-4-5{
        max-width: 1110px;
    }
    .img-4-2{
        width: 635px;
        height: 720px;
        top: 430px;
    }
    .img-5-2{
        width: 445px;
        height: 313px;
        top: 430px;
    }
    .box-5{
        top: 770px;
        padding: 65px 48px 74px 47px;
    }
    .h1-3{
        font-size: 60px;
        line-height: 60px;
    }
    .p-3{
        font-size: 22px;
        line-height: 32px;
    }
    .box-6{
        margin-top: 1824px;
        margin-left: -165px;
        width: 130%;
        padding: 80px 165px 80px 164px;
    }
    .p-4{
        font-size: 18px;
        line-height: 28px;
        max-width: 430px;
    }
    .img-6{
        width: 20%;
        margin-right: 140px;
    }
    .box-7{
        margin-left: 280px;
    }
}